* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

.box {
  width: 800px;
  height: 600px;
  position: relative;
  margin: 0 auto;
  overflow: hidden; }
  .box .after {
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.69);
    opacity: 0.7;
    position: absolute;
    bottom: 0; }

.left {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  position: absolute;
  top: 7px;
  left: 7px;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  background: url("image/s.png");
  background-size: cover; }
  .left:hover {
    background: url("image/s1.png");
    background-size: cover; }

.right {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  position: absolute;
  top: 25px;
  left: 105px;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background: url("image/x.png");
  background-size: cover; }
  .right:hover {
    background: url("image/xx.png");
    background-size: cover; }

.xin {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 29px;
  left: 153px;
  right: 0;
  bottom: 0;
  background: url("image/xihuan.png");
  background-size: cover; }

.photo {
  width: 70px;
  height: 100%;
  position: absolute;
  left: -358px;
  right: 0;
  margin: auto;
  cursor: pointer; }
  .photo img {
    max-width: 100%;
    max-height: 100%; }

.ziti {
  width: 222px;
  height: 25px;
  padding-top: 10px;
  margin-left: 263px; }
  .ziti span {
    font-size: 10px;
    color: #fff;
    line-height: 25px; }
  .ziti .heng {
    float: left; }
  .ziti .name-list {
    height: 25px;
    margin-left: 0;
    float: left; }
  .ziti .geshou-list {
    float: left;
    height: 25px; }

.kaishi {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  background: url("image/bofang.png");
  background-size: cover;
  position: absolute;
  top: 21px;
  bottom: 0;
  left: 53px;
  right: 0; }
  .kaishi:hover {
    background: url("image/bofang1.png");
    background-size: cover; }

.kaishitwo {
  background: url("image/z.png") no-repeat;
  background-size: cover; }
  .kaishitwo:hover {
    background: url("image/z1.png") no-repeat;
    background-size: cover; }

.shichangtiao {
  width: 34%;
  height: 2px;
  border-radius: 10px;
  position: absolute;
  top: 45px;
  bottom: 0;
  left: -5px;
  right: 0;
  margin: auto;
  background: #ccc; }

.yellow {
  background: #fdd000; }

.yuan {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: -4px;
  left: 0;
  cursor: pointer; }

.zong {
  width: 102px;
  position: absolute;
  top: 8px;
  bottom: 0;
  right: 0;
  left: 245px;
  margin: auto; }
  .zong span {
    line-height: 30px;
    text-align: center;
    color: white;
    font-size: 10px; }

.yinliang-box {
  width: 50px;
  height: 50px; }

.xiala {
  width: 22px;
  height: 25px;
  background: url("image/LL.png") no-repeat;
  background-size: cover;
  position: absolute;
  border-radius: 5px;
  right: 6px;
  bottom: 10px;
  font-size: 24px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  cursor: pointer; }
  .xiala:hover {
    background: url("image/L.png");
    background-size: cover; }

.yinliang {
  width: 20px;
  height: 19px;
  background: url("image/yin.png") no-repeat;
  border-radius: 15px;
  background-size: cover;
  cursor: pointer;
  position: absolute;
  right: 133px;
  bottom: 15px; }
  .yinliang .J {
    width: 24px;
    height: 24px; }
  .yinliang span {
    display: block;
    font-size: 10px;
    color: #000;
    line-height: 40px;
    text-align: center;
    cursor: pointer; }
  .yinliang .kl {
    display: block; }

.mama {
  background: url("image/jj.png");
  background-size: cover; }

.v-list {
  width: 30px;
  height: 100px;
  background: #272829;
  position: absolute;
  top: -110px;
  left: -5px;
  display: none; }
  .v-list .volome {
    width: 5px;
    height: 70px;
    background: #3d3e3f;
    border-radius: 2px;
    position: absolute;
    cursor: pointer;
    right: 12px;
    bottom: 26px; }
    .v-list .volome .yinyuan {
      width: 10px;
      height: 10px;
      background: white;
      position: absolute;
      border-radius: 5px;
      cursor: pointer;
      bottom: 0;
      left: -2px; }
  .v-list .jian {
    border: 7px solid #222425;
    position: absolute;
    bottom: -13px;
    left: 9px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent; }

.ci {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 102px;
  bottom: 14px;
  font-size: 15px;
  color: #ccc;
  line-height: 20px;
  cursor: pointer;
  transition: color .8s ease; }
  .ci:hover {
    color: #fff; }

.list {
  width: 40%;
  height: 225px;
  background: #272829;
  position: absolute;
  right: 0;
  bottom: 58px;
  display: none; }
  .list .top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    background: #1f2021; }
    .list .top .more-left {
      font-size: 10px;
      color: #ccc;
      line-height: 30px;
      text-align: left;
      padding-left: 2px; }
    .list .top .chakan {
      font-size: 10px;
      color: #ccc;
      line-height: 30px;
      text-align: right;
      padding-right: 33px;
      margin-top: -29px;
      display: block; }
    .list .top .cha {
      font-size: 15px;
      color: #ccc;
      line-height: 30px;
      text-align: right;
      padding-right: 7px;
      margin-top: -29px;
      display: block;
      cursor: pointer;
      font-weight: 400; }
  .list li {
    height: 20px;
    cursor: pointer;
    color: white;
    font-size: 10px;
    padding-top: 10px; }
  .list .fang {
    border: 10px solid #272829;
    position: absolute;
    bottom: -18px;
    right: 8px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent; }
  .list .lizhong {
    width: 100%;
    height: 195px;
    position: absolute;
    bottom: 0; }
    .list .lizhong .names {
      display: block;
      float: left;
      padding-left: 10px; }
    .list .lizhong .geshous {
      display: block;
      float: right;
      padding-right: 10px; }
    .list .lizhong .id {
      width: 20px;
      height: 30px;
      float: left;
      padding-left: 20px;
      color: #fff;
      background-size: 20px 20px;
      background-position: top right;
      background-repeat: no-repeat;
      text-align: center; }
      .list .lizhong .id.mm {
        color: transparent; }
    .list .lizhong .wa {
      color: #37ff27; }

.gaopin {
  width: 40px;
  height: 20px;
  position: absolute;
  bottom: 15px;
  left: 333px;
  right: 0;
  margin: auto;
  background: #000;
  opacity: 0.5;
  font-size: 10px;
  text-align: center;
  line-height: 20px;
  color: #ccc;
  cursor: pointer;
  transition: color .8s ease; }
  .gaopin:hover {
    color: #fff; }

.yinxiao {
  width: 40px;
  height: 20px;
  position: absolute;
  bottom: 15px;
  left: 435px;
  right: 0;
  margin: auto;
  background: #000;
  opacity: 0.5;
  font-size: 10px;
  text-align: center;
  line-height: 20px;
  color: #ccc;
  cursor: pointer;
  transition: color .8s ease; }
  .yinxiao:hover {
    color: #fff; }

.kaiguan {
  display: block; }

.xunhuan {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: url("image/xun.png");
  background-size: cover;
  position: absolute;
  bottom: 15px;
  right: 75px;
  cursor: pointer;
  transition: background .8s ease; }
  .xunhuan.danqu {
    background: url("image/danqu1.png");
    background-size: cover; }
    .xunhuan.danqu:hover {
      background: url("image/danqu2.png");
      background-size: cover; }
  .xunhuan.danquxunhuan {
    background: url("image/danxun.png");
    background-size: cover; }
    .xunhuan.danquxunhuan:hover {
      background: url("image/danxun1.png");
      background-size: cover; }
  .xunhuan.shunxu {
    background: url("image/shunxun1.png");
    background-size: cover; }
    .xunhuan.shunxu:hover {
      background: url("image/shunxun2.png");
      background-size: cover; }
  .xunhuan.bofang {
    background: url("image/xun.png");
    background-size: cover; }
    .xunhuan.bofang:hover {
      background: url("image/xun2.png");
      background-size: cover; }
  .xunhuan.suiji {
    background: url("image/sui1.png");
    background-size: cover; }
    .xunhuan.suiji:hover {
      background: url("image/sui.png");
      background-size: cover; }

.dan-list {
  width: 100px;
  height: 200px;
  background: #272829;
  position: absolute;
  bottom: 26px;
  left: -44px;
  display: none; }
  .dan-list .dan-jian {
    position: absolute;
    bottom: -14px;
    left: 42px;
    border: 10px solid #272829;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent; }
  .dan-list .item {
    width: 80%;
    height: 20px;
    margin: 5px 10px;
    padding-top: 8px;
    float: left; }
    .dan-list .item:hover .danqu {
      background: url("image/danqu2.png");
      background-size: cover; }
    .dan-list .item:hover .danquxunhuan {
      background: url("image/danxun1.png");
      background-size: cover; }
    .dan-list .item:hover .shunxu {
      background: url("image/shunxun2.png");
      background-size: cover; }
    .dan-list .item:hover .bofang {
      background: url("image/xun2.png");
      background-size: cover; }
    .dan-list .item:hover .suiji {
      background: url("image/sui.png");
      background-size: cover; }
    .dan-list .item:hover span {
      color: #fff; }
    .dan-list .item a {
      height: 20px;
      width: 20px;
      float: left; }
    .dan-list .item .danqu {
      background: url("image/danqu1.png");
      background-size: cover; }
    .dan-list .item .danquxunhuan {
      background: url("image/danxun.png");
      background-size: cover; }
    .dan-list .item .shunxu {
      background: url("image/shunxun1.png");
      background-size: cover; }
    .dan-list .item .bofang {
      background: url("image/xun.png");
      background-size: cover; }
    .dan-list .item .suiji {
      background: url("image/sui1.png");
      background-size: cover; }
    .dan-list .item span {
      font-size: 10px;
      color: #babecd;
      margin-right: 10px;
      float: right;
      line-height: 20px; }

.gengduo {
  width: 19px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  bottom: 14px;
  right: 41px;
  background: url("image/ggg.png");
  background-size: cover;
  transition: background .8s ease;
  cursor: pointer; }
  .gengduo:hover {
    background: url("image/gg.png");
    background-size: cover; }

.ll {
  display: block; }

.zhe {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4; }
